.fauxtoshop {
  .document {
    position: absolute;
    height: 200px;
    width: 300px;
    box-shadow: 0 3px 5px rgba(#000,.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #bbb;
    background-color: #939393;
    padding: 45px 20px 20px 20px;

    .guide {
      position: absolute;
      display: block;
      background-color: #3bffff;
      
      &.vertical {
        width: 1px;
        height: 100%;
        top: 0;
      }

      &.horizontal {
        height: 1px;
        width: 100%;
        left: 0;
      }
    }

    .templates { display: none; }

    .selection {
      position: absolute;
      display: inline-block;
      border: 1px dashed #666;
      box-sizing: border-box;
      z-index: 10;
    }
  }

  .document-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    width: 100%;
    padding: 5px 0;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    z-index: 1;
    cursor: move;
  }

  .document-artboard {
    width: 100%;
    height: 100%;
    background-image: url(../img/ps_neutral.png);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    cursor: default;
  }

  .panel-shell {
    background-color: #999;
    width: 300px;
    position: absolute;
    padding-top: 1px;
    z-index: 2;
  }

  .panel-header {
    position: relative;
    font-family: 'myriad pro';
    font-size: 11px;
    z-index: 1;
    cursor: move;
  }

  .panel-tab {
    display: inline-block;
    padding: 4px 7px;
    margin-top: -1px;
    margin-bottom: -2px;
    font-weight: 600;
  }

  #guideguide {
    position: relative;
    height: 300px;
  }
}

// Color themes

@mixin theme( $background, $dark, $darker, $darkest, $text ){
  .fauxtoshop {
    .document-header {
      background-color: $background;
      color: $text;
    }

    .panel-shell {
      border-top: 3px solid $darker;
      border-left: 1px solid $darkest;
      border-bottom: 1px solid $darkest;
      border-right: 1px solid $darkest;
      box-shadow: inset 0 1px 0 $darkest;
    }

    .panel-header {
      background-color: $darker;
      border-bottom: 1px solid $darkest;
      border-top: 1px solid $dark;
    }

    .panel-tab {
      background-color: $background;
      border-right: 1px solid $darkest;
      border-bottom: 1px solid $background;
      border-top: 1px solid lighten($background, 7);
      color: $text;
    }

    .panel {
      border-top: 1px solid lighten($background, 7);
    }
  }
}

.guideguide-darker {
  @include theme(
    #343434,
    darken(#343434, 5),
    darken(#343434, 10),
    darken(#343434, 50),
    #eee
  )
}

.guideguide-dark {
  @include theme(
    #535353,
    darken(#535353, 5),
    darken(#535353, 10),
    darken(#535353, 20),
    #eee
  )
}

.guideguide-light {
  @include theme(
    #b8b8b8,
    darken(#b8b8b8, 5),
    darken(#b8b8b8, 10),
    darken(#b8b8b8, 50),
    #333
  )
}

.guideguide-lighter {
  @include theme(
    #d6d6d6,
    darken(#d6d6d6, 5),
    darken(#d6d6d6, 10),
    darken(#d6d6d6, 20),
    #333
  )
}