// A horizontal section at the bottom of the panel where
// top level actions live.
.action-bar {
  position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  height: $actionBarHeight;
  line-height: 0;

  .button {
    display: table-cell;
    text-align: center;
    padding: 5px;
    vertical-align: top;
  }

  &.is-faded {
    opacity: 0.5;
  }
}
