// A horizontal section at the bottom of the panel where
// top level actions live.
.action-bar {
  position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  height: $actionBarHeight;

  .button {
    display: table-cell;
    text-align: center;
    padding: 4px 0;
    vertical-align: top;
    transition: 0.1s background-color linear;
  }
}
