@import 'mixins';

*{
  @include userSelect(none);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

#guideguide {
  font-family: $sansSerif;
  overflow: hidden;

  &.has-update .update-indicator { display: inline-block; }

  &.hideUI { display: none; }
}

.panel-forms {
  width: 100%;
  padding-bottom: $actionBarHeight;
}

.pages {
  margin: $tabsHeight 10px $actionBarHeight;
}

.height-stretch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 12px;
  z-index: 10;
  opacity: 0;

  .scrollbar-is-visible & {
    opacity: 1;
  }

  .track {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  .handle {
    width: 8px;
    height: 50px;
    background-color: rgba(#000, .7);
    margin: 2px;
    cursor: pointer;
  }
}

.scroll-content {
  overflow: auto;
  width: 100%;
  padding-right: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

// Horizontal text nav used to switch tabs.
.nav {
  margin: 0;
  height: 0;
  display: table;
  width: 100%;
  position: relative;
  z-index: 2;

  a {
    &.is-selected { cursor: default; }
  }

  .left {
    display: table-cell;
    padding: 10px;

    a { margin-right: 5px; }
  }

  .right {
    display: table-cell;
    text-align: right;
    padding: 5px 10px;

    a { margin-left: 5px; }
  }

  .icon { vertical-align: -2px; }
}

.header-actions {
  position: relative;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  z-index: 1;

  li {
    display: inline-block;
    margin-left: 3px;
  }
}

.update-indicator { display: none; }

.button-group {
  display: table;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;

  li {
    display: table-cell;
    width: 1%;
  }

  li:first-child { padding-right: 1px; }
  li:last-child { padding-left: 1px; }
  li:first-child:last-child { margin: 0px; }

  .button {
    display: block;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
  }
}

// Content of a tab.
.tabbed-page {
  display: none;
  vertical-align: top;

  &.is-selected {
    display: block;
  }

  td {
    vertical-align: top;
    padding: 0;
  }
}

// Hidden markup. Contents are templates.
.hidden-template { display: none }

.dropdown {
  position: relative;

  &.is-active .dropdown-list { display: block; }
}

.dropdown-button {
  display: block;
  padding: 5px 20px 5px 5px;
  position: relative;

  &:before {
    position: absolute;
    top: 10px;
    right: 7px;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 6px solid #fff;
    z-index: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 26px;
    content: "";
  }
}

.dropdown-list {
  position: absolute;
  left: 0;
  top: 26px;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 21;
}

.dropdown-item {
  display: block;
  padding: 5px 20px 5px 5px;
}

.alert {
  display: none;
  z-index: 21;

  .alert-body {
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .alert-content {
    margin: 20px;
    overflow: hidden;
  }

  .alert-title {
    margin-top: 0;
    font-weight: normal;
  }

  .button-group {
    position: absolute;
    bottom: 0;
  }

  .scroll-outer {
    margin-bottom: 41px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .scrollbar {
    margin-bottom: 41px;
  }

  #guideguide.has-alert & { display: block; }
}

.help-text {
  display: none;
  padding: 0 3px;
  margin: 0 0 10px;

  .is-helping & { display: block; }
}

.help-target {
  font-size: 9px;
  font-weight: bold;
  vertical-align: top;
}

.checkbox {
  font-size: 12px;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  display: inline-block;
  line-height: 19px;

  &.checked .icon { display: block; }

  .square {
    position: absolute;
    top: 3px;
    left: 6px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid;
  }

  .icon {
    display: none;
    position: absolute;
    top: 2px;
    left: 5px;
  }
}
