@font-face {
  font-family: 'open-sans-bold';
  src: url('opensans-bold.eot');
  src: url('opensans-bold.eot?#iefix') format('embedded-opentype'),
       url('opensans-bold.woff') format('woff'),
       url('opensans-bold.ttf') format('truetype'),
       url('opensans-bold.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-light';
  src: url('opensans-light.eot');
  src: url('opensans-light.eot?#iefix') format('embedded-opentype'),
       url('opensans-light.woff') format('woff'),
       url('opensans-light.ttf') format('truetype'),
       url('opensans-light.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-regular';
  src: url('opensans-regular.eot');
  src: url('opensans-regular.eot?#iefix') format('embedded-opentype'),
       url('opensans-regular.woff') format('woff'),
       url('opensans-regular.ttf') format('truetype'),
       url('opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

#guideguide {
  position: relative;
  font-family: 'open-sans-regular', sans-serif;
  height: 100%;

  &.has-dropdown .dropdown-backdrop { display: block; }
  &.has-update .update-indicator { display: inline-block; }
}

.bottom-row { height: 0; }

table {
  width: 100%;
  border-collapse: collapse;
}

// Horizontal text nav used to switch tabs.
.nav {
  margin: 0;
  height: 0;

  a {
    transition: 0.1s color linear;

    &.is-selected { cursor: default; }
  }

  .left {
    padding: 5px 10px;

    a { margin-right: 5px; }
  }

  .right {
    text-align: right;
    padding: 5px 10px;

    a { margin-left: 5px; }
  }
}

.header-actions {
  position: relative;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  z-index: 1;

  li {
    display: inline-block;
    margin-left: 3px;
  }

  a { transition: 0.1s color linear; }
}

.update-indicator { display: none; }

.button-group {
  display: table;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;

  li {
    display: table-cell;
    width: 1%;
  }

  li:first-child { padding-right: 1px; }
  li:last-child { padding-left: 1px; }
  li:first-child:last-child { margin: 0px; }

  .button {
    display: block;
    padding: 3px 10px 5px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    width: 100%;
  }
}

// Content of a tab.
.tabbed-page {
  position: relative;
  height: 100%;
  display: none;
  vertical-align: top;

  &.is-selected {
    display: table-row;
  }

  & > td {
    display: table;
    height: 100%;
    width: 100%;
  }

  td {
    vertical-align: top;
    padding: 0;
  }
}

.tabbed-page-padding {
  margin: 0 10px;
  height: 100%;
}

// Hidden markup. Contents are templates.
.hidden-template { display: none }

.dropdown {
  position: relative;

  &.is-active .dropdown-list { display: block; }
}

.dropdown-button {
  display: block;
  padding: 3px 20px 5px 5px;
  position: relative;

  &:before {
    position: absolute;
    top: 10px;
    right: 7px;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 6px solid #fff;
    z-index: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 26px;
    content: "";
  }
}

.dropdown-list {
  position: absolute;
  left: 0;
  top: 26px;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 21;
}

.dropdown-item {
  display: block;
  padding: 3px 20px 5px 5px;
}

.dropdown-backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.alert {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;

  .alert-body {
    padding: 20px 20px 70px;
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:75%;
  }

  .alert-content {
    overflow: auto;
    height: 100%;
  }

  .alert-title {
    margin-top: 0;
    font-weight: normal;
  }

  .button-group {
    position: absolute;
    bottom: 20px;
  }

  #guideguide.has-alert & { display: block; }
}