@import 'mixins';

@font-face {
  font-family: 'open-sans-bold';
  src: url('opensans-bold.eot');
  src: url('opensans-bold.eot?#iefix') format('embedded-opentype'),
       data-uri('opensans-bold.woff') format('woff'),
       data-uri('opensans-bold.ttf') format('truetype'),
       url('opensans-bold.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-light';
  src: url('opensans-light.eot');
  src: url('opensans-light.eot?#iefix') format('embedded-opentype'),
       data-uri('opensans-light.woff') format('woff'),
       data-uri('opensans-light.ttf') format('truetype'),
       url('opensans-light.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-regular';
  src: url('opensans-regular.eot');
  src: url('opensans-regular.eot?#iefix') format('embedded-opentype'),
       data-uri('opensans-regular.woff') format('woff'),
       data-uri('opensans-regular.ttf') format('truetype'),
       url('opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

#guideguide {
  font-family: 'open-sans-regular', sans-serif;
  overflow: hidden;

  &.has-update .update-indicator { display: inline-block; }
}

.panel-forms {
  width: 100%;
  padding-bottom: $actionBarHeight;
}

.pages {
  padding: 32px 10px $actionBarHeight;
}

.height-stretch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scrollbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 12px;
  z-index: 30;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opactiy .2s;

  .scrollbar-is-visible & {
    opacity: 1;
  }

  .track {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  .handle {
    width: 8px;
    height: 50px;
    background-color: rgba(#000, .7);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }
}

.scroll-content {
  overflow: auto;
  width: 100%;
  padding-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

// Horizontal text nav used to switch tabs.
.nav {
  margin: 0;
  height: 0;
  display: table;
  width: 100%;
  position: relative;
  z-index: 2;

  a {
    transition: 0.1s color linear;

    &.is-selected { cursor: default; }
  }

  .left {
    display: table-cell;
    padding: 5px 10px;

    a { margin-right: 5px; }
  }

  .right {
    display: table-cell;
    text-align: right;
    padding: 5px 10px;

    a { margin-left: 5px; }
  }
}

.header-actions {
  position: relative;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  z-index: 1;

  li {
    display: inline-block;
    margin-left: 3px;
  }

  a { transition: 0.1s color linear; }
}

.update-indicator { display: none; }

.button-group {
  display: table;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;

  li {
    display: table-cell;
    width: 1%;
  }

  li:first-child { padding-right: 1px; }
  li:last-child { padding-left: 1px; }
  li:first-child:last-child { margin: 0px; }

  .button {
    display: block;
    padding: 3px 10px 5px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
  }
}

// Content of a tab.
.tabbed-page {
  display: none;
  vertical-align: top;
  margin: 32px 10px 28px;

  &.is-selected {
    display: block;
  }

  td {
    vertical-align: top;
    padding: 0;
  }
}

// Hidden markup. Contents are templates.
.hidden-template { display: none }

.dropdown {
  position: relative;

  &.is-active .dropdown-list { display: block; }
}

.dropdown-button {
  display: block;
  padding: 3px 20px 5px 5px;
  position: relative;

  &:before {
    position: absolute;
    top: 10px;
    right: 7px;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 6px solid #fff;
    z-index: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 26px;
    content: "";
  }
}

.dropdown-list {
  position: absolute;
  left: 0;
  top: 26px;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 21;
}

.dropdown-item {
  display: block;
  padding: 3px 20px 5px 5px;
}

.alert {
  display: none;
  z-index: 21;

  .alert-body {
    padding: 20px 20px 70px;
    font-size: 13px;
    line-height: 21px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:75%;
  }

  .alert-content {
    overflow: auto;
  }

  .alert-title {
    margin-top: 0;
    font-weight: normal;
  }

  .button-group {
    position: absolute;
    bottom: 20px;
  }

  #guideguide.has-alert & { display: block; }
}
