// A vertical collection of sets.
.set-list {
  font-size: 13px;
  line-height: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sets-scroll-content {
  margin-bottom: 48px;
}

// Set items in a list. Solid color background, slightly darker background on hover.
.set-list-set  {
  display: table;
  width: 100%;
  margin-bottom: 2px;
  height: 26px;

  .icon {
    opacity: 0.4;
    vertical-align: middle;

    &:hover { opacity: 1; }
  }

  a {
    display: table-cell;
    padding: 3px 5px;
  }

  .set-action {
    width: 1%;
    padding: 4px 5px;
    line-height: 0;
  }
}
