.settings-list {
  margin: 0;
  padding: 0 10px 20px;
  height: 100%;
  overflow: auto;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;

  h3 {
    margin: 15px 3px 5px;
    font-size: 14px;
    font-weight: normal;
  }
}

.settings-inner { position: relative; }

.setting {

  &:first-child h3 { margin-top: 3px; }
}
