.settings-list {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

.settings-inner { position: relative; }

.setting {
  margin-bottom: 2px;
}

.settings-list-wrap {
  margin-bottom: 30px;
}

.update-button-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  text-align: center;
  height: 36px;
  line-height: 36px;
}

.import-export {
  margin-top: 5px;
}
