.settings-list {
  margin: 0;
  font-size: 13px;
  line-height: 18px;

  h3 {
    margin: 15px 3px 5px;
    font-size: 14px;
    font-weight: normal;
  }
}

.settings-inner { position: relative; }

.setting {

  &:first-child h3 { margin-top: 3px; }
}

.settings-list-wrap {
  margin-bottom: 10px;
}
