.fauxtoshop .document {
  position: absolute;
  height: 200px;
  width: 300px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #bbb;
  background-color: #939393;
  padding: 45px 20px 20px 20px;
}
.fauxtoshop .document .guide {
  position: absolute;
  display: none;
  background-color: #3bffff;
}
.fauxtoshop .document .guide.vertical {
  width: 1px;
  height: 100%;
  top: 0;
}
.fauxtoshop .document .guide.horizontal {
  height: 1px;
  width: 100%;
  left: 0;
}
.fauxtoshop .document.is-showing-guides .guide {
  display: block;
}
.fauxtoshop .document .templates {
  display: block;
}
.fauxtoshop .document .selection {
  position: absolute;
  display: inline-block;
  border: 1px dashed #666;
  box-sizing: border-box;
  z-index: 10;
}
.fauxtoshop .document-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  width: 100%;
  padding: 5px 0;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  z-index: 1;
  cursor: move;
}
.fauxtoshop .document-artboard {
  width: 100%;
  height: 100%;
  background-image: url(../img/ps_neutral.png);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: default;
}
.fauxtoshop .panel-shell {
  background-color: #999;
  width: 300px;
  height: 300px;
  min-height: 300px;
  position: absolute;
  padding-top: 1px;
  z-index: 2;
  line-height: 0;
}
.fauxtoshop .panel-graphics-fix {
  height: 100%;
}
.fauxtoshop .panel-header {
  position: relative;
  font-family: 'myriad pro';
  font-size: 11px;
  z-index: 1;
  cursor: move;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
}
.fauxtoshop .panel-tab {
  display: inline-block;
  padding: 4px 7px;
  margin-top: -1px;
  margin-bottom: -2px;
  font-weight: 600;
  line-height: normal;
}
.fauxtoshop iframe {
  position: relative;
  border: 0;
  height: 100%;
  padding-top: 22px;
  box-sizing: border-box;
}

.guideguide-darker .fauxtoshop .document-header {
  background-color: #343434;
  color: #eeeeee;
}
.guideguide-darker .fauxtoshop .panel-shell {
  border-top: 3px solid #1a1a1a;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: inset 0 1px 0 black;
}
.guideguide-darker .fauxtoshop .panel-header {
  background-color: #1a1a1a;
  border-bottom: 1px solid black;
  border-top: 1px solid #272727;
}
.guideguide-darker .fauxtoshop .panel-tab {
  background-color: #343434;
  border-right: 1px solid black;
  border-bottom: 1px solid #343434;
  border-top: 1px solid #464646;
  color: #eeeeee;
}
.guideguide-darker .fauxtoshop .panel {
  border-top: 1px solid #464646;
}

.guideguide-dark .fauxtoshop .document-header {
  background-color: #535353;
  color: #eeeeee;
}
.guideguide-dark .fauxtoshop .panel-shell {
  border-top: 3px solid #393939;
  border-left: 1px solid #202020;
  border-bottom: 1px solid #202020;
  border-right: 1px solid #202020;
  box-shadow: inset 0 1px 0 #202020;
}
.guideguide-dark .fauxtoshop .panel-header {
  background-color: #393939;
  border-bottom: 1px solid #202020;
  border-top: 1px solid #464646;
}
.guideguide-dark .fauxtoshop .panel-tab {
  background-color: #535353;
  border-right: 1px solid #202020;
  border-bottom: 1px solid #535353;
  border-top: 1px solid #656565;
  color: #eeeeee;
}
.guideguide-dark .fauxtoshop .panel {
  border-top: 1px solid #656565;
}

.guideguide-light .fauxtoshop .document-header {
  background-color: #b8b8b8;
  color: #333333;
}
.guideguide-light .fauxtoshop .panel-shell {
  border-top: 3px solid #9f9f9f;
  border-left: 1px solid #393939;
  border-bottom: 1px solid #393939;
  border-right: 1px solid #393939;
  box-shadow: inset 0 1px 0 #393939;
}
.guideguide-light .fauxtoshop .panel-header {
  background-color: #9f9f9f;
  border-bottom: 1px solid #393939;
  border-top: 1px solid #ababab;
}
.guideguide-light .fauxtoshop .panel-tab {
  background-color: #b8b8b8;
  border-right: 1px solid #393939;
  border-bottom: 1px solid #b8b8b8;
  border-top: 1px solid #cacaca;
  color: #333333;
}
.guideguide-light .fauxtoshop .panel {
  border-top: 1px solid #cacaca;
}

.guideguide-lighter .fauxtoshop .document-header {
  background-color: #d6d6d6;
  color: #333333;
}
.guideguide-lighter .fauxtoshop .panel-shell {
  border-top: 3px solid #bdbdbd;
  border-left: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  border-right: 1px solid #a3a3a3;
  box-shadow: inset 0 1px 0 #a3a3a3;
}
.guideguide-lighter .fauxtoshop .panel-header {
  background-color: #bdbdbd;
  border-bottom: 1px solid #a3a3a3;
  border-top: 1px solid #c9c9c9;
}
.guideguide-lighter .fauxtoshop .panel-tab {
  background-color: #d6d6d6;
  border-right: 1px solid #a3a3a3;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #e8e8e8;
  color: #333333;
}
.guideguide-lighter .fauxtoshop .panel {
  border-top: 1px solid #e8e8e8;
}
